.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 3 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #043;
    padding: 5px 35px 15px 20px;
    border: 1px solid #943;
    border-radius: 3px;
    
  }
  .popup {
    width: 33.333333%;
    padding: 15px;
    left: 0;
    margin-left: 33.333333%;
    border: 1px solid #390;
    border-radius: 10px;
    background: #894;
    position: absolute;
    top: 15%;
    box-shadow: 5px 5px 5px #095;
    z-index: 10001;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #490;
    border-radius: 3px;
  }
  .btn2 {
    background-color: #999; 
    border: none;
    color: #903;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    }
    .btn2:hover{
    opacity:0.9;
    }
  .btn1 {
    background-color: #100; 
    border: none;
    color: #583;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    }
    .btn2:hover{
    opacity:0.9;
    }
  
  label {
    margin-bottom: 40px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #390;
    color: #859;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #950;
  }
  
  span.price {
    float: right;
    color: #940;
  }
  span.quantity {
    position: relative; left:178px;
    color: grey;
  }
  span.marcel {
    position: relative; right:175px;
  }
  span.terakhir {
    position: relative; left:23px;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  